<% if current_user.liaison? %>
  <div class="sidebar">
    <%= render "internal/internalside" %>
  </div>
  <div class="content" id="content">
    <div class="dashboard_activities">
      <div class="row">
         <%= render "internal/internaldashcontent" %>
      </div>
   </div>
  </div>
<% elsif current_user.client? %>
  <%= render "client/navbar" %>
  <%= render "client/dashcontent" %>
<% else %>
  <h5>There seems to be an error with your account, please contact concierge@lapel.co</h5>
<% end %>



<script type="text/javascript">
$(document).ready(function () {
// Handler for .ready() called.
$('html, body').animate({
     scrollTop: $('#content').offset().top
}, 'slow');
});
</script>
