<div class="row">
   <h3>FAQ</h3>
   <ul>
      <li>
         <h4>What do you do?</h4>
         <h6>Lapel is a concierge service for menswear that melds the old-world traditions of English haberdasheries with the seamlessness that today’s technology provides. We focus our time and attention on reforming the antiquated practices surrounding men’s clothing that our clients deal with regularly.</h6>
      </li>
      <li>

      </li>
      <li>
         <h4>Where is Lapel available?</h4>
         <h6>Lapel services a select group of gentlemen in California and New York, through established partnerships with Athletic, Yacht, and Country Clubs. We’ll be arriving in the Dallas/Austin region, the Chicago area, and the Greater Northeastern U.S. in Q2 of 2016.</h6>
      </li>

      <li>
         <h4>How do I participate?</h4>
         <h6>As previously noted, the majority of clients are the result of either club affiliation or referrals from existing Lapel Gentlemen. Membership is severely limited, as high volume is oft associated with diminishing service.<br />For all membership inquiries, please apply at www.lapel.co.<br />However, it is highly recommended that any application come attached with the endorsement of a Gentleman in good standing.</h6>
      </li>
   </ul>

   <%= link_to "BACK", :back %>

</div>
