<div class="clientele">
   <h2 class="text-center">CLIENTELE</h2>
   <div class="client_list">
      <% if current_user.clients.length > 0 %>
         <% current_user.clients.each do |client| %>
            <div class="client">
               <%= client.name %>
               <%= client.email %>
            </div>
            <% end %>
      <% else %>
         <div class="client_negative text-center">
            <h3>YOU HAVE NO CLIENTS.</h3>
         </div>

         <div class="extra_prompts">
            <h4>GO SELL SOMETHING!</h4>
         </div>
      <% end %>
   </div>
</div>
