<div class="clientele">
   <h2 class="text-center">CLIENTELE</h2>
   <div class="client_list">
      <% if current_user.clients.length > 0 %>
         <% current_user.clients.each do |client| %>
            <div class="client col-md-2">
               <h4><%= client.name %></h4>
               <h4><%= client.email %></h4>
               <h5><%= link_to "PROFILE", user_path(client), class: "link" %></h5>
            </div>
            <% end %>
      <% else %>
         <div class="client_negative text-center">
            <h3>YOU HAVE NO CLIENTS.</h3>
         </div>

         <div class="extra_prompts">
            <h4>GO SELL SOMETHING!</h4>
         </div>
      <% end %>
   </div>
</div>
