<h2 class="text-center">DASHBOARD</h2>
<div class="activity_list row">
   <div class="act_list col-md-3" id="requested">
      <h4>REQUESTED</h4>
   </div>
   <div class="act_list col-md-3" id="processing">
      <h4>PROCESSING</h4>
   </div>
   <div class="act_list col-md-3" id="delivered">
      <h4>DELIVERED</h4>
   </div>
   <div class="act_list col-md-3" id="completed">
      <h4>COMPLETED</h4>
   </div>
</div>
