<div class="order_list">
   <% if current_user.orders.length > 0 %>
      <h4>YOU HAVE PLACED #{current_user.orders.length} ORDERS</h4>
      <% current_user.orders.each do |order| %>
      <p><%= order.notes %></p>
      <% end %>
   <% else %>
      <h4>YOU CURRENTLY HAVE NO ORDERS.</h4>
   <% end %>
</div>
