<% if current_user.liaison? %>
   <div class="sidebar">
      <%= render "internal/internalside" %>
   </div>
   <%= render 'internal/clientprofile' %>
<% else %>
  <%= render 'client/dashcontent' %>
<% end %>
