<div class="profile_page">
   <div class="basic_info col-md-3 text-center">
      <h2><%= current_user.name %></h2>
      <h3><%= current_user.email%></h3>
      <h3><%= current_user.phone%></h3>
   </div>
   <div class="main_content col-md-9">
   </div>
</div>
