<% if current_user.liaison? %>
<div class="row">
   <div class="sidebar">
      <%= render "internal/internalside" %>
   </div>
   <%= render 'internal/clientprofile' %>
</div>

<% else %>
<div class="row">
   <%= render 'client/dashcontent' %>   
</div>
<% end %>
