<div class="container text-center" style="color:#d6d6d6;">
	<h3><%= "Your order has #{@order.items.size} items" %></h3>
	<% if @order.items.size > 0 %>
			<% @order.order_items.each do |order_item| %>
				<%= render partial: 'cart', locals: { order_item: order_item } %>
			<% end %>
	<% else %>
		<p> THERE ARE NO ITEMS IN YOUR ORDER.</p>
	<% end %>

	<%= render partial: 'order_items/new', locals: { user: @user, order: @order } %>

	<%= link_to 'DELETE ORDER', [@order.user, @order], :method => :delete, :data => { :confirm => 'Are you sure?' } %>
</div>
