// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
   background-size: cover;
   background-position: top;
   // background-image: url("https://starsimage.files.wordpress.com/2012/02/fotolia_1321001_subscription_xl.jpg");
}
.login-block{
   margin-top: 25vh;
   h2{
      font-family: "Gotham-Medium";
      color: #fff;
      font-weight: 500;
      font-size: 3em;
      margin-bottom: 5vh;
   }
   .btn-login{
      margin-top: 3vh;
      background-color: #fff;
      color: #000;
   }
   .btn-login:hover{
      color: #fff;
      background-color: #000;
   }
   .form-control{
      background-color: #fff;
   }
   .form-control:active,
   .form-control:focus,
   input:active,
   input:focus {
      -webkit-appearance: none;
   }
   input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
   }
   .back_btn{
      height: 30px;
      color: #fff;
      background-color: rgba(0,0,0,0.5);

   }
}
#item_add_header, #edit_header{
   color: #fff;
   font-family: "Gotham-Medium";
   margin-bottom: 5vh;
}

.back_link{
   margin-top: 20vh;
   position: relative;
   display: inline-block;
   color: #fff;
   .back_btn{
      color: #fff;
      font-family: "Gotham-Light";
   }
   .del_btn{
      background-color: rgba(0,0,0,0);
      border: none;
      font-family: "Gotham-Light";
      margin-top: 10vh;
   }
}
