/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
.nav{
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 5;
   .navlink{
      float: right;
      margin-right: 2%;
      margin-top: 1%;
   }
}
.alert{
   z-index: 4;
}
html{
   margin: 0px;
   padding: 0px;
   height: 100vh;
   width: 100%;
   body{
      padding: 0px;
      margin: 0px;
      height: 100vh;
      width: 100%;
      overflow-y: auto;
      text-transform: uppercase;
      font-family: "Gotham-Medium";
      color: #fff;
      .container-fluid{
         padding-bottom: 0px;
         margin-bottom: 0px;
      }
      // BASE FONTS
      h1, h2, h3, h4, h5 {
        font-family: "Gotham-Light";
      	text-transform: uppercase;
        letter-spacing: .4em;
        h3 {
          letter-spacing: .25em;
        }
        h4, h5 {
          letter-spacing: .2em;
        }
      }
      a, a:visited, a:link, a:active {
      	color: #fff;
      	text-decoration: none;
      }
      a:hover {
      	color: #999;
      	text-decoration: none;
      }
   }
}
