// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#client-nav{
	position:fixed;
	top:0;
	width:100%;
  img{
		height: 100px;
		margin: -30px 0 -60px 0;
  }
	.navbar{
		min-height:25px!important;
	}
  nav{
    margin: 35px auto;
    width: 100%;
    max-height: 25px;
    border-radius: 0;
    background-color: #D6D6D6;
    color: #000;
    border-color: none;
    opacity: .5;
    .nav {
			height:100%;
			li {
				width: 33%;
				height:100%;
				h5{
					height:100%;
					margin-top: 3px!important;
					a{
						font-family: "Gotham-Medium"!important;
						color: #000;
						height:100%;
					}
				}

			}
			.client-menu {
				position: fixed;
				right: -185px;
				top: 80px;
		    color: #fff;
				z-index: 1;
				img {
					height: 25px;
				}
				#options_accord{
					background-color: rgba(255,255,255,0.9);
					text-align: right;
					margin-left:-50px;
					margin-top:-10px;
					width: 200px;
					list-style-type: none;
					li {
						margin-top:-5px;
					}
					.list_lg{
						color: black;
						font-size: .8em;
					}
					.list_lg:hover{
						text-decoration: none;
					}
					li:hover{
						background-color: #9e9e9e;
					}
				}
			}
			.collapse {
			display: block;
			width: 150px;
			margin: 20px 0 0 auto;
			list-style-type: none;
			position:absolute;
			z-index:1;
				li {

					padding-top:10px;
					width:100%;

					font-size:.75em;
				}
			}

    }
  }
}
.client-content{
	position:fixed;
	top:100px;
	padding: 0 20px;
	width: 100%;
	// CLIENT DASHBOARD PAGE
	.profile_page {
		height: 100vh;
		margin: 0 auto;
		color: #fff;
		overflow-y: auto;
		.light-head {
			font-family: "Gotham-Light";
		}
		.order-alert{
			// border: 2px solid #fff;
			margin-top:10px;
			height: 25vh;
			padding: 2vh 0;
			background-color: rgba(255,255,255,0.2);
			h2 {
				margin: 0 auto;
				font-family: 'Gotham-Medium'!important;
				letter-spacing:.2em;
			}
			.order-notes {
				width: 80%;
				margin: auto;
				font-size: .8em;
			}
		}
		.order-history {
			margin-top:10px;
			// border: 2px solid #fff;
			height: 50vh;
			padding: 2vh;
			background-color: rgba(50,50,50,0.5);
		}
		.appt-alert {
			// border: 2px solid #fff;
			margin-top:10px;
			height: 30vh;
			padding: 2vh;
			background-color: rgba(50,50,50,0.5);
			h2, h3 {
				font-family: 'Gotham-Medium'!important;
				letter-spacing:.2em;
				margin: 0;
			}
		}
		.metrics {
			margin-top:10px;
			// border: 2px solid #fff;
			height: 20vh;
			padding: 3vh 2vh;
			background-color: rgba(255,255,255,0.05);
		}
		.client-box{
			// border: 2px solid #fff;
			margin-top:10px;
			height: 20vh;
			padding: 1vh;
			background-color: rgba(255,255,255,0.2);
			img {
				height:100px;
			}
			.details {
				margin-top:20px;
			}
		}
		.client-info {
			margin-top:10px;
			// border: 2px solid #fff;
			height: 50vh;
			padding: 1vh;
			background-color: rgba(50,50,50,0.5);
		}
		.actions {
			margin-top: 10px;
			// border: 2px solid #fff;
			height: 10vh;
			padding: 1vh;
			background-color: rgba(255,255,255,0.05);
			img {
				width: 50px;
				margin:0 2vh;
			}
		}
		.client_measurements{
			 ul{
					list-style-type: none;
			 }
		}
	.req {
		height: 70vh;
		margin: 10vh auto;
		padding: 20px;
		color: #fff;
		overflow-y: auto;
		width:50%;
	}
	.wardrobe {
		height: 70vh;
		margin: 0 auto;
		padding: 20px;
		color: #fff;
		overflow-y: auto;
	}
}
}
