// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wardrobe {
	max-width: 750px;
  margin: 100px auto;
	.wardrobe-item{
		margin-top: 50px;
	}
}
