// Place all the styles related to the internal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row{
   margin: 0px;
   padding: 0px;
   overflow-y: auto;

   // INTERNAL SIDEBAR
  .sidebar{
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     background-color: rgba(255,255,255,0.7);
     height: 100vh;
  	 width: 150px;
     margin: 0px;
     padding: 0px;
     -webkit-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     -moz-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     color: #222;

     .logo-side{
        height: auto;
        width: 120px;
  			margin-left:20px
     }
     .user_name_header{
        padding:0px;
        margin-top: 0vh;
        font-size: 1em;
        letter-spacing: .2em;
     }
     .profile_pic{
        margin-bottom: 5vh;
        #pro_image{
           width: 120px;
           padding: 5px;
           display: block;
           margin: 0 auto;
        }
     }
  	 .navigation{
  		 .nav_list{
  			 list-style-type: none;
  			 margin-right:50px;
  			 .tooltip {
  				 .tooltip-inner {
  				 background-color: #fff;
  				 color: #222;
  				 font-family: 'Gotham-Medium';
  				 text-transform: uppercase;
  				 letter-spacing: .3em;
  			 }
  		 }
  			 li {
  				 margin-top:10px;
  			 }
  		 }
  	 }
  	 .side_mes{
        h4{
           font-family: "Gotham-Medium";
        }
        .client_measurements{
           ul{
              list-style-type: none;
              width: 90%;
              li{
                 padding: 0px;
                 margin: 0px;
                 p{
                    font-family: "Gotham-Book";
                    small{
                       font-size: .7em;
                       font-family: "Gotham-Light";
                    }
                 }
              }
           }
        }
    }
  	#options_accord{
  		background-color: rgba(255,255,255,0.9);
  		text-align: left;
  		margin-left:-50px;
  		margin-top:-10px;
  		width: 200px;
  		list-style-type: none;
  		li {
  			margin-top:-5px;
  		}
  		.list_lg{
  		  color: black;
  			font-size: .8em;
  		}
  		.list_lg:hover{
  		  text-decoration: none;
  		}
  		li:hover{
  		  background-color: #9e9e9e;
  		}
  	}

  	.img-sidebar{
  		height:50px;
  		width:auto;
  	}
  	.panel{
  		background-color: transparent;
  	}
  } // INTERNAL SIDEBAR END

  .content{
    position: fixed;
    left: 150px;
    height: 100vh;
    width: 85%;
     .dashboard_activities{
       .status_head {
         padding: 15px;
         margin-left: 40px;
         border-bottom: 1px solid #fff!important;
       }
        .activity_list{
           border: none;
           height: 80vh;
           margin: 0 auto;
           padding: 20px;
           color: #fff;
           overflow-y: auto;
           .act_list{
              text-align: center;
              height: 80vh;
              padding: 5px;
              .order_box{
                 border-right: 5px solid #2C3E50;
                 padding-top: 1.5vh;
                 padding-bottom: 0;
                 margin: 0 auto;
                 height: 17vh;
                 width: 90%;
                 margin-top: 1vh;
                 margin-bottom: 1vh;
                 background-color: rgba(255,255,255,0.4);
                 .order_text{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    line-height: 1em;
                    h6{
                       font-family: "Gotham-Light";
                    }
                 }
                 .plink{
                    font-family: "Gotham-Medium";
                    color: #22313F;
                 }
              }
              .order_box:hover{
                 background-color: rgba(255,255,255, 0.8);
                 color: #22313F;
              }
           }
           .appt_box{
             border-right: 5px solid #c0392b;
             padding-top: 1.5vh;
             padding-bottom: 0;
             margin: 0 auto;
             height: 17vh;
             width: 90%;
             margin-top: 1vh;
             margin-bottom: 1vh;
             background-color: rgba(255,255,255,0.4);
             .appt_text{
                 position: relative;
                 display: inline-block;
                 width: 100%;
                 height: 100%;
                 margin: 0;
                 padding: 0;
                 h6{
                    font-family: "Gotham-Light";
                 }
             }
             .plink{
                 font-family: "Gotham-Medium";
                 color: #22313F;
             }
           }
           .appt_box:hover{
                background-color: rgba(255,255,255, 0.8);
                color: #22313F;
              }
        }
     }
    .clientele{
       border: none;
       height: 80vh;
       margin: 0 auto;
       padding: 20px;
       color: #fff;
       overflow-y: auto;
        #clientele_title{
           margin-top: 15vh;
           margin-bottom: 0vh;
        }
        .table_titles{
           border-bottom: 1px solid #fff;
           width: 90%;
           margin: 0 auto;
           margin-top: 5vh;
        }
        .client_list{
           width: 90%;
           margin: 0 auto;
           .client_row{
             background-color: rgba(255,255,255,0.2);
             width: 98%;
             margin: 0 auto;
             margin-top: 2vh;
             padding-left: 0px;
             padding-top: 2vh;
             padding-bottom: 0px;
          }
          .client_row:hover{
            color: #22313F;
            background-color: rgba(255,255,255,0.8);
            .link{
               color: #22313F;
            }
         }
           .client_negative{
              width: 80%;
              border: 2px solid #fff;
              margin: 0 auto;
              height: 20vh;
              margin-top: 10vh;
              h3{
                 position: relative;
                 top: 30%;
                 transform: translateY(-50%);
              }
           }
           .client{
              .link{
                 font-family: "Gotham-Book";
                 color: #C0322B;
              }
           }
        }
     }
     .inventory{
       border: none;
       height: 90vh;
       margin: 0 auto;
       padding: 20px;
       color: #fff;
       overflow-y: auto;
        .item_list{
           position: relative;
           display: inline-block;
           width: 100%;
           #item-dropdown-list{
             display: inline-block;
             position: relative;
             list-style-type: none;
             width: 98%;
             .active{
                font-family: "Gotham-Book";
                font-weight: 500;
             }
             li{
                display: inline-block;
                position: relative;
                border-bottom: 1px solid #fff;
                text-align: center;
                padding-top: 1.3vh;
                padding-bottom: 1.3vh;
                h4{
                   letter-spacing: 2px;
                   text-align: center;
                   margin-right: 1vw;
                   margin-left: 1vw;
                }
             }
          }
          .collapse_panels{
             .collapse{
                border: 1px solid #fff;
             }
             .item{
              display: block;
              padding: 10px;
              text-overflow: clip;
             .item_inlay{
                display: inline-block;
                position: relative;
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                margin: 0 auto;
                height: 24vh;
                padding: 16px 2px;

                h5{
                   color: #fff;
                   font-size:1em;
                   letter-spacing: .1em;
                }
                h6{
                   color: #fff;
                   font-size: .9em;
                }
                .img-item{
                   position: relative;
                   display: inline-block;
                   width: 100%;
                   height: auto;
                   padding: 0px;
                }
                h6{
                   position: relative;
                   display: inline-block;
                   margin: 0px;
                   padding: 0px;
                   padding-top: 5px;
                }
             }
             .item_inlay:hover {
                background-color: rgba(0,0,0,0.3);
             }
          }
        }
     }
  }
}
}
