// Place all the styles related to the internal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row{
   margin: 0px;
   padding: 0px;
   overflow-y: auto;

   // INTERNAL SIDEBAR
  .sidebar{
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     background-color: rgba(255,255,255,0.7);
     height: 100vh;
  	 width: 150px;
     margin: 0px;
     padding: 0px;
     -webkit-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     -moz-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
     color: #222;

     .logo-side{
        height: auto;
        width: 120px;
  			margin-left:20px
     }
     .user_name_header{
        padding:0px;
        margin-top: 0vh;
        font-size: 1em;
        letter-spacing: .2em;
     }
     .profile_pic{
        margin-bottom: 5vh;
        #pro_image{
           width: 120px;
           padding: 5px;
           display: block;
           margin: 0 auto;
        }
     }
  	 .navigation{
  		 .nav_list{
  			 list-style-type: none;
  			 margin-right:50px;
  			 .tooltip {
  				 .tooltip-inner {
  				 background-color: #fff;
  				 color: #222;
  				 font-family: 'Gotham-Medium';
  				 text-transform: uppercase;
  				 letter-spacing: .3em;
  			 }
  		 }
  			 li {
  				 margin-top:10px;
  			 }
  		 }
  	 }
  	 .side_mes{
        h4{
           font-family: "Gotham-Medium";
        }
        .client_measurements{
           ul{
              list-style-type: none;
              width: 90%;
              li{
                 padding: 0px;
                 margin: 0px;
                 p{
                    font-family: "Gotham-Book";
                    small{
                       font-size: .7em;
                       font-family: "Gotham-Light";
                    }
                 }
              }
           }
        }
    }
  	#options_accord{
  		background-color: rgba(255,255,255,0.9);
  		text-align: left;
  		margin-left:-50px;
  		margin-top:-10px;
  		width: 200px;
  		list-style-type: none;
  		li {
  			margin-top:-5px;
  		}
  		.list_lg{
  		  color: black;
  			font-size: .8em;
  		}
  		.list_lg:hover{
  		  text-decoration: none;
  		}
  		li:hover{
  		  background-color: #9e9e9e;
  		}
  	}

  	.img-sidebar{
  		height:50px;
  		width:auto;
  	}
  	.panel{
  		background-color: transparent;
  	}
  } // INTERNAL SIDEBAR END

  .content{
    position: fixed;
    left: 150px;
    height: 100vh;
    width: 85%;
     .dashboard_activities{
       .status_head {
         padding: 15px;
         margin-left: 40px;
       }
        .activity_list{
           border: none;
           height: 80vh;
           margin: 0 auto;
           padding: 20px;
           color: #fff;
           overflow-y: auto;
           .act_list{
              text-align: center;
              height: 80vh;
              padding: 5px;
              .order_box{
                 border: none;
                 padding-top: 1vh;
                 padding-bottom: 0;
                 margin: 0 auto;
                 height: 17vh;
                 width: 100%;
                 margin-top: 1vh;
                 margin-bottom: 1vh;
                 background-color: rgba(255,255,255,0.4);
                 .order_text{
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                 }
                 .plink{
                    font-family: "Gotham-Medium";
                    color: #22313F;
                 }
              }
              .order_box:hover{
                 background-color: rgba(255,255,255, 0.8);
                 color: #22313F;
              }
           }
           .appt_box{
             border: 1px solid #CF000F;
             padding-top: 1vh;
             padding-bottom: 0;
             margin: 0 auto;
             height: 17vh;
             width: 100%;
             margin-top: 1vh;
             margin-bottom: 1vh;
             background-color: rgba(255,255,255,0.4);
             .appt_text{
                 position: relative;
                 display: inline-block;
                 width: 100%;
                 height: 100%;
                 margin: 0;
                 padding: 0;
             }
             .plink{
                 font-family: "Gotham-Medium";
                 color: #22313F;
             }
           }
           .appt_box:hover{
                background-color: rgba(255,255,255, 0.8);
                color: #22313F;
                border: none;
              }
        }
     }
     .clientele{
       border: none;
       height: 80vh;
       margin: 0 auto;
       padding: 20px;
       color: #fff;
       overflow-y: auto;
        #clientele_title{
           margin-top: 15vh;
           margin-bottom: 0vh;
        }
        .table_titles{
           border-bottom: 1px solid #fff;
           width: 90%;
           margin: 0 auto;
           margin-top: 5vh;
        }
        .client_list{
           width: 90%;
           margin: 0 auto;
           .client_negative{
              width: 80%;
              border: 2px solid #fff;
              margin: 0 auto;
              height: 20vh;
              margin-top: 10vh;
              h3{
                 position: relative;
                 top: 30%;
                 transform: translateY(-50%);
              }
           }
           .client{
              .link{
                 font-family: "Gotham-Book";
                 color: #C0322B;
              }
           }
        }
     }
     .inventory{
       border: none;
       height: 80vh;
       margin: 0 auto;
       padding: 20px;
       color: #fff;
       overflow-y: auto;
        .item_list{
           position: relative;
           display: inline-block;
           width: 90%;
           margin-left: 13%;
           .item{
              margin: 10px;
              height: 250px;
              .img-item{
                width:100px;
                height: auto;
              }
           }
        }
     }
  }

}
