// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-bar{
   display: inline-block;
   position: relative;
   width: 95%;
   margin: 0 auto;
   margin-top: 4vh;
   background-color: rgba(50,50,50,0.5);
   padding-top: 10px;
   #status{
      color: #c0322b;
   }
}
.ordershow_itemlist{
   background-color: rgba(255,255,255, 0.4);
   display: inline-block;
   width: 95%;
   margin: 0 auto;
   margin-top: 4vh;
}
.ordershow_newitems{
   display: inline-block;
   width: 95%;
   margin: 0 auto;
   .item{
     padding: 10px;
     text-overflow: clip;
     .item-inlay{
        display: inline-block;
        position: relative;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        margin: 0 auto;
        height: 20vh;
        padding-left: 5px;
        padding-top: 15px;
        .img-item{
           position: relative;
           display: inline-block;
           width: 100%;
           height: auto;
       }
       .form-group{
          color: #22313F;
          .item-btn{
             background: none;
             border: 2px solid #22313f;
          }
       }
     }
   }
}
.client-content{
  form {
    margin-top: 10vh;
  }
.req-item {
  width: 12%!important;
  label {
    font-family: 'Gotham-Light';
    font-size: .7em;
    margin-top: 10px;
  }
  img {
    height: 50px;
  }
}
}
.delbtn{
   color: red;
}
