// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
   background-image: url('linen-grey.png');
   background-size: cover;
   position: relative;
}
.row{
   height: 100vh;
   margin: 0px;
   padding: 0px;
   overflow-y: auto;
   .sidebar{
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.7);
      height: 100vh;
      margin: 0px;
      padding: 0px;
      -webkit-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      -moz-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      .lapel-side{
         display: relative;
         position: inline-block;
         height: auto;
         width: 50%;
         padding: 0px;
         margin-left: 25%;
         margin-bottom: 0px;
         padding-bottom: 0px;
      }
      .user_name_header{
         padding:0px;
         margin-top: 0vh;
         font-family: "Gotham-Light";
         text-transform: uppercase;
         font-size: 1.5em;
      }
      .profile_pic{
         margin-bottom: 5vh;
         #pro_image{
            height: 15vh;
            padding: 5px;
            display: block;
            margin: 0 auto;
         }
         .prolink{
            color: #fff;
            font-family: "Gotham-Light";
         }
      }
      .navigation{
         padding: 0px;
         margin: 0px;
         .nav_list{
            padding: 0px;
            margin: 0 auto;
            width: 80%;
            text-align: center;
            list-style-type: none;
            font-family: "Gotham-Book";
            font-size: 1.5em;
            font-weight: 500;
            li{
               margin: 1vh 0px 2vh 0px;
            }
         }
      }
      .options_section{
         margin-top: 20vh;
         font-family: "Gotham-Light";
         font-weight: 300;
         margin-left: 0px;
         padding-left: 0px;
         h4{
            margin-top: 2vh;
            margin-bottom: 0vh;
            padding: 5px;
            border-radius: 0px;
         }
         #options_accord{
            list-style-type: none;
            .list_lg{
               color: black;
            }
            .list_lg:hover{
               text-decoration: none;
            }
            li{
               padding: 0px;
               width: 100%;
            }
            li:hover{
               background-color: #9e9e9e;
            }
         }
      }
   }
   .content{
      padding: 0px;
      .dashboard_activities{
         height:100vh;
         margin: 0px;
         padding: 0px;
         border-bottom: 2px solid #fff;
         h2{
            font-family: "Gotham-Medium";
            color: #fff;
         }
         .activity_list{
            padding: 20px;
            .act_list{
               height: 80vh;
               padding: 5px;
               h4{
                  text-align: center;
                  color: #fff;
                  font-family: "Gotham-Medium";
               }
            }
         }
      }
      .clientele{
         height: 100vh;
         margin: 0px;
         padding: 0px;
         border-bottom: 2px solid #fff;
         h2{
            font-family: "Gotham-Medium";
            color: #fff;
         }
         .client_list{
            .client_negative{
               width: 80%;
               border: 2px solid #fff;
               margin: 0 auto;
               height: 20vh;
               margin-top: 10vh;
               h3{
                  font-family: "Gotham-Medium";
                  color: white;
                  position: relative;
                  top: 30%;
                  transform: translateY(-50%);
               }
            }
         }
      }
      .inventory{
         height: 100vh;
         margin: 0px;
         padding: 0px;
         h2{
            font-family: "Gotham-Medium";
            color: #fff;
         }
         .item_list{
            position: relative;
            display: inline-block;
            width: 90%;
            margin-left: 13%;
            .item{
               border: 1px solid #fff;
               margin: 10px;
               color: #fff;
            }
         }
      }
   }
}
