// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
   background-image: url('linen-grey.png');
   background-size: cover;
   position: relative;
}
// CLIENT content
#header{
  .logo {
    margin:-40px auto -50px auto;
    img{
      height: 150px;
    }
  }
  nav{
    margin: 25px auto;
    width: 100%;
    max-height: 25px;
    border-radius: 0;
    background-color: #D6D6D6;
    color: #000;
    border-color: none;
    opacity: .5;
    .nav {
      padding-left: 150px;
      li {
        width: 300px;
        a{
          font-family: "Gotham-Medium"!important;
          color: #000;
        }
      }
    }
  }
}
// INTERNAL CONTENT
.row{
   height: 100vh;
   margin: 0px;
   padding: 0px;
   overflow-y: auto;
   .sidebar{
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.7);
      height: 100vh;
      margin: 0px;
      padding: 0px;
      -webkit-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      -moz-box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      box-shadow: 5px 0px 100px 3px rgba(0,0,0,0.5);
      color: #222;
      .lapel-side{
         display: relative;
         position: inline-block;
         height: auto;
         width: 50%;
         padding: 0px;
         margin-left: 25%;
         margin-bottom: 0px;
         padding-bottom: 0px;
      }
      .user_name_header{
         padding:0px;
         margin-top: 0vh;
         font-size: 1em;
         letter-spacing: .2em;
      }
      .profile_pic{
         margin-bottom: 5vh;
         #pro_image{
            height: 15vh;
            padding: 5px;
            display: block;
            margin: 0 auto;
         }
         .prolink{
            color: #fff;
            font-family: "Gotham-Light";
         }
      }
      .side_mes{

         h4{
            font-family: "Gotham-Medium";
         }
         .client_measurements{
            ul{
               list-style-type: none;
               width: 90%;
               li{
                  padding: 0px;
                  margin: 0px;
                  p{
                     font-family: "Gotham-Book";
                     small{
                        font-size: .7em;
                        font-family: "Gotham-Light";
                     }
                  }
               }
            }
         }
      }
      .navigation{
         padding: 0px;
         margin: 0px;
         .nav_list{
            padding: 0px;
            margin: 0 auto;
            width: 80%;
            list-style-type: none;
            font-family: "Gotham-Light";
            letter-spacing: .3em;
            font-size: 1.2em;
            li{
               margin: 1vh 0px 2vh 0px;
            }
         }
      }
      .options_section{
         margin-top: 15vh;
         font-family: "Gotham-Light";
         font-weight: 300;
         margin-left: 0px;
         padding-left: 0px;
         h4{
            color: #6b6b6b;
            margin-top: 2vh;
            margin-bottom: 0vh;
            padding: 5px;
            border-radius: 0px;
         }
         #options_accord{
            list-style-type: none;
            .list_lg{
               color: black;
            }
            .list_lg:hover{
               text-decoration: none;
            }
            li{
               padding: 0px;
               width: 100%;
            }
            li:hover{
               background-color: #9e9e9e;
            }
         }
      }
   }
   .content{
      padding: 0px;
      .dashboard_activities{
         text-transform: uppercase;
         height:100vh;
         margin: 0px;
         padding: 0px;
         border-bottom: 2px solid #fff;
         .activity_list{
            border: 1px solid #fff;
            height: 80vh;
            width: 90%;
            margin: 0 auto;
            padding: 20px;
            color: #fff;
            overflow-y: auto;
            .act_list{
               text-align: center;
               height: 80vh;
               padding: 5px;
               .order_box{
                  margin: 0 auto;
                  border: 1px solid #fff;
                  width: 90%;
                  margin-top: 1vh;
                  margin-bottom: 1vh;
                  background-color: rgba(255,255,255,0.4);
                  .plink{
                     font-family: "Gotham-Medium";
                     color: #22313F;
                  }
               }
            }
         }
      }
      .clientele{
         height: 100vh;
         margin: 0px;
         padding: 0px;
         border-bottom: 2px solid #fff;
         .table_titles{
            border-bottom: 1px solid #fff;
            width: 90%;
            margin: 0 auto;
         }
         .client_list{
            width: 90%;
            margin: 0 auto;
            .client_negative{
               width: 80%;
               border: 2px solid #fff;
               margin: 0 auto;
               height: 20vh;
               margin-top: 10vh;
               h3{
                  position: relative;
                  top: 30%;
                  transform: translateY(-50%);
               }
            }
            .client{
               .link{
                  font-family: "Gotham-Book";
                  color: #C0322B;
               }
            }
         }
      }
         // .client_negative{
         //    width: 80%;
         //    border: 2px solid #fff;
         //    margin: 0 auto;
         //    height: 20vh;
         //    margin-top: 10vh;
         //    h3{
         //       font-family: "Gotham-Medium";
         //       color: white;
         //       position: relative;
         //       top: 30%;
         //       transform: translateY(-50%);
         //    }
      .inventory{
         height: 100vh;
         margin: 0px;
         padding: 0px;
         .item_list{
            position: relative;
            display: inline-block;
            width: 90%;
            margin-left: 13%;
            .item{
               margin: 10px;
               height: 250px;
               .img-item{
                 width:100px;
                 height: auto;
               }
            }
         }
      }
   }
}
