// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
   height: 100vh;
   width: 100%;
   margin: 0px;
   padding: 0px;
   body{
      height:inherit;
      width: inherit;
      margin: 0px;
      padding: 0px;
      -webkit-font-smoothing: antialiased;
	   text-rendering: optimizeLegibility;
      // FOLLOWING CODE BLOCK REFERS TO SPLASH PAGE
      /* ANIMATION */
      .row{
         padding-bottom: 0px;
      }
      .delay {
      	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
      	animation-delay: .5s;
      }
      .delay-1 {
      	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
      	animation-delay: 1s;
      }
      .delay-2 {
      	-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
      	animation-delay: 1.5s;
      }
      .delay-3 {
      	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
      	animation-delay: 2s;
      }
      .preload * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
      }
      // Container div for index content
      .infosite{
         .heading{
            font-family: "Gotham-Bold";
            line-height: 1.25;
         }
         #tagline{
            margin-top: 5vh;
            margin-bottom: 5vh;
            letter-spacing: 9px;
            font-family: "Gotham-Bold";
            font-size: 3em;
         }
         color: #fff;
         h1, h2 {
         	text-transform: uppercase;
         	letter-spacing: 6px;
         	// line-height: 1.25;
         }
         h1 {
            font-size: 5em;
         }
// h2 {
// 	font-size: 3em;
// }
// h3 {
// 	font-size: 1.5em;
// 	letter-spacing: 4px;
// 	text-transform: uppercase;
// 	line-height: 1.3;
// }
// h4 {
// 	font-size: 1.25em;
// 	line-height: 1.4;
// }

         // Button Styling
         .btn{
            background:rgba(0, 0, 0, 0.22);
         	border: solid 2px #fff;
         	border-radius: 5px;
         	color: #fff;
         	text-transform: uppercase;
         	font-size: 1.1em;
         	letter-spacing: 2px;
         	font-family: 'Gotham-Medium';
         	width: 200px;
         	height: 50px;
         	transition: all 0.3s ease 0s;
         }

         // Button Changes when hovered, focuses, active
         .btn:hover,
         .btn:focus,
         .btn:active,
         .btn.active {
             border: none;
         	background:rgba(0, 0, 0, 0.55);
         	color: #fff;
         	outline: none;
         }

         // Buttons in Modals
         .method-btn{
         	background:rgba(0, 0, 0, 0.22);
         	transition: all 0.3s ease 0s;
         	padding: 0px;
         	margin:10px;
         	width: 100px;
         	height: 30px;
         	border: solid 2px #fff;
         	border-radius: 5px;
         	color: #fff;
         }

         // Modal Buttons change when focused, or active
         .method-btn:focus,.method-btn:active,
         .method-btn.active{
         	outline: none;
         }

         // THIS CODE REFERS TO CONTENT IN THE HEADER BLOCK
         #header{
            display: block;
            position:relative;
            height: 100vh;
            background-image: linear-gradient( to bottom, rgba(32,23,19,0.3) 0%, rgba(32,23,19,0.3) 100%), url("background_replace.jpg");
            border-bottom: 1px solid white;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position: top;
            #logo-header{

               margin: 0 auto;
               height: 40vh;
               position: relative;
               padding-left: 2%;
            }
         }

         // ThIS CODE REFERS TO THE VISION BLOCK
         #vision{
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position: top;
            -webkit-font-smoothing: antialiased;
            background-image: linear-gradient( to bottom, rgba(32,23,19,0.3) 0%, rgba(32,23,19,0.3) 100%), url("scissors.jpg");
            display: block;
            position: relative;
            height: 100vh;
            border-bottom: 1px solid #fff;
            h2{
               margin-top: 10vh;
               margin-bottom: 30vh;
               font-size: 3em;
            }
            h3{
               font-family: "Gotham-Book";
               font-size: 1.8em;
               letter-spacing: 2px;
            }
         }
         // SERVICE PAGE STYLING
         #service{
            display: block;
            position: relative;
            height: 100vh;
            background-size: cover;
            background-image: linear-gradient( to bottom, rgba(32,23,19,0.3) 0%, rgba(32,23,19,0.3) 100%), url("closet.jpg");
            -webkit-font-smoothing: antialiasing;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position: top;
            border-bottom: 1px solid #fff;
            .heading{
               height: 10vh;
               margin-top: 5vh;
               margin-bottom: 5vh;
               h2{
                  font-size: 3em;
               }
            }
            .service-item{
               margin-top: 15vh;
               height: 50vh;
               opacity: 0.8;
               img{
                  margin: 0 auto;
               }
               h3{
                  font-weight: 500;
                  font-family: "Gotham-Light";
                  letter-spacing: 4px;
               }
               .overlay{
                  display: none;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  top: -5%;
                  background-color: #000;
                  opacity: 0.85;
                  border-radius: 10px;
                  h4{
                     position: relative;
                     margin: 0 auto;
                     top: 50%;
                     transform: translateY(-50%);
                     font-family: "Gotham-Light";
                     letter-spacing: 2px
                  }
               }
            }
         }

         #final{
            display: inline-block;
            position: relative;
         	width: 100%;
         	background-image: url("../images/cream-pixels.png");
         	background-color: #081323;
            margin: 0px !important;
            padding: 0px !important;
            overflow-y: visible !important;
            #launch{
               display: relative;
               height: 90vh;
               width: 100%;
               border-bottom: 1px solid #fff;
               padding: 0px !important;
               margin: 0px !important;
               border-bottom: 1px solid #fff;
               .launch-item{
                  height: 100%;
                  border-bottom: 1px solid #fff;
                  padding: 0px !important;
                  margin: 0px !important;
                  h2{
                     margin-top: 10vh;
                     font-size: 2.3em;
                  }
                  h4{
                     font-family: "Gotham-Light";
                     font-size: 1.4em;
                     letter-spacing: 4px;
                     font-weight: 500;
                  }
                  .btn{
                     margin-top: 30vh;
                     background: 0.2;
                     -webkit-font-smoothing: antialiased;
                  }
                  .hidebtn{
                     display: none;
                     margin-top: 30vh;
                     padding: 0px;
                  }
               }
               .launch-item:hover .hidebtn, .launch-item:hover .hidebtn{
	                 display: inline-block;}
              .launchpad-1{
                 background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("los-angeles.jpg");
              	background-size: cover;
              	-webkit-filter: grayscale(50%);
                 border-right: 1px solid #fff;
                 h2{
                    font-family: "Asimov";
                    letter-spacing: 0px;
                    font-weight: 400;
                 }
              }
              .launchpad-2{
                  background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("SanFrancisco.jpg");
                  background-size:cover;
                  -webkit-filter: grayscale(50%);
                  border-right: 1px solid #fff;
                  h2{
                     font-family: "NeutraText-Bold", sans-serif;
                     letter-spacing: 2px;
                  }
              }
              .launchpad-3{
                  background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("ny.jpg");
                  background-size:cover;
                  -webkit-filter: grayscale(50%);
                  h2{
                     font-family: "Peignot";
                     font-weight: 550;
                  }
              }
              .launchpad-1:hover{
                  -webkit-filter: grayscale(0%);
              }
              .launchpad-2:hover{
                  -webkit-filter: grayscale(0%);
              }
              .launchpad-3:hover{
                  -webkit-filter: grayscale(0%);
               }

            }

            #footer{
               display: inline-block;
               position: relative;
               width: 100%;
               margin: 0px !important;
               padding: 0px !important;
               #footer-logo{
                  position: relative;
                  display: inline-block;
                  width: 100%;
                  #middle_logo{
                     width: 50%;
                     display: inline-block;
                     position: relative;
                     margin-right: 0px !important;
                     margin-left: 25%;
                     padding: 0px;
                     text-align: center;
                     .foot-img{
                        align-self: center;
                        display: inline;
                        position: relative;
                        margin: 0 auto !important;
                     }
                  }
                  #links{
                     width: 100%;
                     display: inline-block;
                     position: relative;
                     padding: 0px;
                     margin: 0px;
                     #word-links{
                        margin-bottom: 1vh;
                     }
                     .inline-link{
                        display: inline;
                        clear: both;
                     }
                  }
               }
            }
         }
         .modal{
            .modal-content{
               background-color: #22313F;
               margin-left: auto;
               .modal-body{
                  .input-group{
                     input{
                        margin-bottom: 1vh;
                     }
                     #cntct{
                        font-family: "Gotham-Medium";
                        margin-bottom: 1vh;
                     }
                  }
                  .modal-footer{
                     padding-top: 0px;
                     padding-bottom: 0px;
                     #submitter{
                        float:left;
                        margin-right: 0px;
                        margin-bottom: 0;
                        padding: 0px;
                     }
                     #close_mdl_btn{
                        float: left;
                        margin-left: 2%;
                        margin-bottom: 0;
                        padding: 0px;
                     }
                  }
               }
            }
         }
      }
      #terms_block{
         .terms_header{
            display: block;
            position: relative;
            width: 100%;
            border-bottom: 2px solid #fff;
            margin-bottom: 5vh;
            .back-button{
               text-align: center;
               display: inline-block;
               position: absolute;
               top: 0%;
               left: 0%;
               background-color: rgba(50,50,50,0.5);
               border: 1px solid #fff;
               width: 10%;
               padding: 2px;
            }
            .back-button:hover{
               border: none;
               background-color: rgba(255,255,255,0.5);
               color: #22313f;
            }
         }
         h4{
            display: block;
            font-family: "Gotham-Medium";
         }
         blockquote{
            border: none;
            font-family: "Gotham-Light";
            font-weight: 400;
            border-bottom: 1px solid #fff;
            padding-bottom: 5vh;
         }
      }
      .faq-block{
         display: inline-block;
         position: relative;
         .faq-header{
            border-bottom: 1px solid #fff;
            width: 90%;
            margin: 0 auto;
            h3{
               font-family: "Gotham-Medium";
            }
         }
         .faq-list-block{
            width: 90%;
            margin: 0 auto;
            .faq-list{
               list-style-type: none;
               li{
                  border-bottom: 1px solid #fff;
                  margin-top: 5vh;
                  padding-bottom: 5vh;
                  h4{
                     font-family: "Gotham-Book";
                  }
                  h5{
                     font-family: "Gotham-Light";
                     text-transform: none;
                     letter-spacing: 2px;
                  }
               }
            }
         }
      }
   }
}


@media screen and (max-width:768px) {
   html{
      margin: 0px !important;
      padding: 0px !important;
      height: 100vh !important;
      width: 100% !important;
      body{
         height: 100vh;
         margin: 0px !important;
         padding: 0px !important;
         width: 100%;
         .infosite{
            #header{
               #delay-fade{
                  h2{
                     font-size: 2em !important;
                  }
                  .btn{
                     margin-top: 5vh;
                     width: 25%;
                     padding: 5px;
                     height: 5vh;
                  }
                  #logo-header{

                     margin: 0 auto;
                     height: 30vh;
                     position: relative;
                     padding-left: 2%;
                  }
               }
            }
            #vision{
               h2{
                  margin-top: 10vh;
                  margin-bottom: 30vh;
                  font-size: 2em!important;
               }
               h3{
                  margin-top: 0vh!important;
                  font-family: "Gotham-Book";
                  font-size: 1.4em!important;
                  letter-spacing: 2px;
               }
            }
            #service{
               .heading{
                  margin-top: 2vh !important;
                  margin-bottom: 2vh !important;
                  h2{
                     font-size: 1.8em !important;
                     font-family: "Gotham-Medium";
                  }
               }
               .service-item{
                  margin-top: 2vh !important;
                  height: 25vh !important;
                  opacity: 0.8;
                  img{
                     margin: 0 auto;
                     max-height: 50% !important;
                  }
                  h3{
                     font-weight: 500;
                     font-family: "Gotham-Light";
                     letter-spacing: 4px;
                     font-size: 1.3em !important;
                  }
                  .overlay{
                     display: none;
                     width: 100%;
                     margin: 0 auto;
                     height: 100%;
                     position: absolute;
                     top: -5%;
                     background-color: #000;
                     opacity: 0.85;
                     border-radius: 10px;
                     h4{
                        position: relative;
                        margin: 0 auto;
                        top: 50%;
                        transform: translateY(-50%);
                        font-family: "Gotham-Light";
                        letter-spacing: 1px;
                        font-size: 1.1em !important;
                     }
                  }
               }
            }
            #final{
               height: 100vh!important;
               width: 100%!important;
               overflow: none!important;
               padding: 0px!important;
               margin-right: 0px !important;
               #launch{
                  height: 90vh!important;
                  overflow: none!important;
                  .launch-item{
                     display:inline-block;
                     position: relative;
                     max-height: 30vh!important;
                     width: 100%;
                     margin: 0px;
                     padding: 0px;
                     h2{
                        margin-top: 2vh!important;
                        font-size: 2em;
                     }
                     h4{
                        font-family: "Gotham-Light";
                        font-size: 1.2em;
                        letter-spacing: 4px;
                        font-weight: 500;
                        margin-bottom: 0!important;
                     }
                     .btn{
                        margin-top: 5vh!important;
                        background: 0.2;
                        -webkit-font-smoothing: antialiased;
                        position: relative;
                        z-index: 5;
                        padding: 2px!important;
                        width: 25%;
                        height: 5vh;
                     }
                     .hidebtn{
                        display: none;
                        margin-top: 0vh;
                        padding: 0px;
                        position: relative;
                     }
                  }
                  .launch-item:hover .hidebtn, .launch-item:hover .hidebtn{
                       display: inline-block;}
                  .launchpad-1{
                    background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("los-angeles.jpg");
                    background-size: cover;
                    -webkit-filter: grayscale(50%);
                    border: none !important;
                    h2{
                       font-family: "Asimov";
                       letter-spacing: 0px;
                       font-weight: 400;
                    }
                 }
                 .launchpad-2{
                     background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("SanFrancisco.jpg");
                     background-size:cover;
                     -webkit-filter: grayscale(50%);
                     border: none !important;
                     h2{
                        font-family: "NeutraText-Bold", sans-serif;
                        letter-spacing: 2px;
                     }
                 }
                 .launchpad-3{
                     background-image:linear-gradient(to bottom, rgba(32,23,19,.3) 0%, rgba(32,23,19,.3) 100%), url("ny.jpg");
                     background-size:cover;
                     -webkit-filter: grayscale(50%);
                     h2{
                        font-family: "Peignot";
                        font-weight: 550;
                     }
                 }
                 .launchpad-1:hover{
                     -webkit-filter: grayscale(0%);
                 }
                 .launchpad-2:hover{
                     -webkit-filter: grayscale(0%);
                 }
                 .launchpad-3:hover{
                     -webkit-filter: grayscale(0%);
                  }

               }
               .footer{

               }
            }
            .modal{
               margin-top: 10vh;
               .modal-content{
                  background-color: #22313F;
                  margin: 0 auto;
                  .modal-header{
                     margin-bottom: 0vh !important;
                     h6{
                        margin-bottom: 0px;
                     }
                     .close:hover{
                        color: #fff;
                     }
                  }
                  .modal-body{
                     padding: 15px;
                     margin-top: 5vh;
                     margin-bottom: 2vh;
                     width: 100% !important;
                     .input-group{
                        input{
                           margin-bottom: 1.5vh;
                           .btn-sm{
                              padding-top: 5vh !important;
                              margin-top: 5vh !important;
                           }
                        }
                        #cntct{
                           font-family: "Gotham-Medium";
                           margin-bottom: 1vh;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
