// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_page{
   .basic_info{
      h2{
         font-family: "Gotham-Medium";
         color: #fff;
      }
      h3{
         color: #fff;
         font-family: "Gotham-Book";
      }
      .client_measurements{
         color: #fff;
         border: 1px solid #fff;
         ul{
            list-style-type: none;
            li{

            }
         }
      }
   }
   .main_content{
      .client_measurements{
         color: #fff;
         ul{
            list-style-type: none;
            li{

            }
         }
      }
      .other_partials{
         padding: 10px;
         .order_link{
            h4{
               color: #fff;
            }
         }
      }
      .orders-div{
         margin-top: 5vh;
         color: #fff;
         border: 2px solid #fff;
         padding: 5px;
         padding-top: 0px;
         height: 25vh;
         .order_link{
            display: inline-block;
            position: relative;
            color: #fff;
            border: 1px solid #fff;
            font-family: "Gotham-Medium";
            font-size: 2em;
            padding: 0px 5px 1px 5px;
            float: right;
            background-color: rgba(0,0,0, 0.5);
         }
      }
   }
}
