// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_page{
   .basic_info{
      h2{
         font-family: "Gotham-Medium";
         color: #fff;
      }
      h3{
         color: #fff;
         font-family: "Gotham-Book";
      }
   }
}
