// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_page{
  text-transform: uppercase;
  color: #fff;
  font-family: "Gotham-Medium";
   .header{
     .order_status{
       color: #c0322b;
     }
   }
   .main_content{
      .client_measurements{
         ul{
            list-style-type: none;
         }
      }
      .info{
         margin-left: 4%;
         border: 1px solid #fff;
         .info_inset{
            display: inline-block;
         }
         .measures_inset{
            padding: 0px;
            display: inline-block;
         }
      }
      .other_partials{
         padding: 10px;
         .order_link{
            h4{
            }
         }
      }
      .show-main{
         margin-left: 1%;
         .orders{
            border: 1px solid #fff;
            margin-bottom: 2vh;
            .order_item{
               width: 30%;
               display: inline-block;
            }
         }
         .wardrobe{
            border: 1px solid #fff;
            margin-top: 2vh;
            margin-bottom: 2vh;

         }
         .metrics{
            border: 1px solid #fff;
            margin-top: 2vh;
            margin-bottom: 2vh;

         }
      }
      .orders-div{
         margin-top: 5vh;
         color: #fff;
         border: 2px solid #fff;
         padding: 5px;
         padding-top: 0px;
         height: 25vh;
         .order_link{
            display: inline-block;
            position: relative;
            color: #fff;
            border: 1px solid #fff;
            font-family: "Gotham-Medium";
            font-size: 2em;
            padding: 0px 5px 1px 5px;
            float: right;
            background-color: rgba(0,0,0, 0.5);
         }
      }
   }
}
